.btn {
  border: 1px solid rgb(33, 209, 194);
  border-radius: 30px;
  color: #02afef;
  font-weight: 600;
}

.home__img {
  height: 150px;
  object-fit: contain;
}

.hometype > .head > a {
  font-size: 25px;
}
.hometype > .head > .ques {
  font-family: "Montserrat", sans-serif !important;
  color: black !important;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .hometype__components:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }

  .btn:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }
}

.req_font {
  color: #02afef;
  min-width: 200px;
}

.others {
  color: black !important;
}

.btn_ {
  border: 1px solid #00bbff;
  border-radius: 15px;
  height: 50px;
  color: #02afef;
  font-weight: 600;
}

.estimate {
  margin-top: 120px;
}

.progress-bar {
  height: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #00bbff;
}

.progress {
  height: 5px;
}

.hometype {
  min-height: 75vh;
}
