@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  margin: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  display: flex;
}

.nav__logo {
  height: 20px;
  flex: 0.4;
  object-fit: contain;
}
